/* body
{
     height:  40vh;
    background-color: #349eac;
}

.container
{
    position: relative;
}

span
{
     background-color: teal;
     width: 50px;
     height: 50px;
     border: 1px solid lightblue;
     display: block;
     position: absolute;
}


.mydropbtn {
  background-color: #ffffff;
  color: rgb(122, 122, 122);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.mydropbtn img
{
     float: right;
     padding-left: 10px;
     
}

/* The container <div> - needed to position the dropdown content 
.mydropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) 
.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown 
.mydropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover 
.mydropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover 
.mydropdown:hover .mydropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.mydropdown:hover .mydropbtn {
  background-color: #349eac;
  color: #ffffff;
} */



