div
{
    background-color: lightblue;
    height: 100px;
}

.div
{
    background-color: orange;
    height: inherit;
    border: 1px solid black;
    width: 300px;
}

.teal
{
    background-color: teal;
}